# dependencies (bun install)
node_modules

# output
dist

# code coverage
coverage
*.lcov

# dotenv environment variable files
.env

# caches
.eslintcache
.cache
*.tsbuildinfo

# Finder (MacOS) folder config
.DS_Store
